{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}


{% block title %}测试平台{% endblock %}

{% block page_content %}
    <div class="page-header">
        {% if current_user.is_authenticated %}
            <h1>你好,{{ current_user.username }}</h1>
            <br>
            <p>欢迎登录H2D官方网站</p>
            <p>时间&nbsp;&nbsp;{{ moment(currenttime).format('LLL') }}</p>
        {% else %}
            <h1>请点击右上角登录</h1>
        {% endif %}


{#        {% if not known %}#}
{#            <p>首次登录</p>#}
{#        {% else %}#}
{#            <p>很高兴再次见到你</p>#}
{#        {% endif %}#}

{#        <p>那是在{{ moment(currenttime).fromNow(refresh=True) }}</p>#}
    </div>
{#    <div class="container">#}
{#        <form method="post">#}
{#            {{ form.hidden_tag() }}#}
{#            {{ form.name.label }}{{ form.name(id='my_text_field') }}#}
{#            {{ form.submit() }}#}
{#        </form>#}
{#        {{ wtf.quick_form(form) }}#}
{#    </div>#}
{% endblock %}